# Credenciales para el contenedor de base de datos
NEXT_PUBLIC_USER_DB=user
NEXT_PUBLIC_PASS_DB=pass

# Conexión a servicios
API_KEY_VISUALCROSSING=valor_de_api_key_visualcrossing
URI_MONGO=mongodb://user:pass@facsat-db:27017

# Puertos visibles desde el host
EXTERNAL_PORT_DB=17017
EXTERNAL_PORT_WEB=30000
EXTERNAL_PORT_ADMINER=18000